@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/garet");
@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");

.garet {
    font-family: "Garet", sans-serif;
}
.antionio {
    font-family: "Antonio", sans-serif;
}


::-webkit-scrollbar {
    width: 6px;
    border-radius: 2px;
}

::-webkit-scrollbar-button:single-button {
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #8c8ca9;
}
::-webkit-scrollbar-track {
    background: #575757;
}

.title {
    font-size: 9vw;
}
.frclabel {
    font-size: 3vw;
}
.mobile-name {
    font-size: 3vw;
}
.text-boxes {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.descriptions {
    max-width: 45vw;
}
@media (max-width: 1200px) {
    .descriptions {
        max-width: 90vw;
    }
    .text-boxes {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .title {
        font-size: 8vw;
    }
    .frclabel {
        font-size: 3vw;
    }
}

a {
	color: #e3e3e3;
}
